@import "tailwindcss";

:root {
  --font-noto: 'Noto Sans', sans-serif;

  --black: #3B434E;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #5837bb;
  --primary-active: #9978fd;
  --red: #FC836D;
  --red-light: #FFB2A6;
  --green: #1DC37E;
  --green-light: #C8F8E4;
}

body {
  font-family: var(--font-noto);
  color: var(--black);
  background: #F5F6F8;
  outline: none;
}

.scrollbar-md {
  &::-webkit-scrollbar {
    width: 8px;
    cursor: default;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #DEDFE0;
  }
}
