.characteristics {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 32px;
  align-items: baseline;
}

.characteristicsName {
  font-weight: bold;
}

.characteristicsDots {
  border-bottom: 1px dashed var(--gray-light);
}

.characteristicsValue {
  margin-bottom: 5px;
  text-align: end;
}
