.review-form {
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  align-items: center;
}

.review-form-title {
  justify-self: left;
}

.review-form-description, .review-form-submit {
  grid-column: start / end;
}

@media (max-width: 1100px) {
  .review-form {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  .review-form-rating {
    grid-column: start / end;
  }

  .review-form-title {
    justify-self: stretch;
  }
}

@media (max-width: 640px) {
  .review-form {
    grid-template-columns: [start] 1fr [end];
  }
}
